{% extends "index.html" %}
{% block contents %}
<script>underline(1); $(window).load(function() { footer(1) })</script>

<div id=sheet>

{% if request.MOBILE %}
    <div class=df>David Faraci</div>
{% endif %}

<div class=about>
<img class=medogs src="medogs.jpg" alt="MEDOGS.JPG">
<p class=nogap>I am a Lecturer in the McDonough School of Business at Georgetown University and a Visiting Scholar at UNC Chapel Hill. I received my Ph.D. in philosophy from Bowling Green State University in 2012.</p>
<br>
<p class='nogap ul'>About My Work</p>
<p class=nogap>Many of us believe that if anything is truly right or wrong, good or bad, it must be so <span class=it>objectively,</span> that ethical truth cannot merely be a function of our beliefs, interests, practices or desires. My research aims to understand such objectivity and its implications for the nature of ethical truth, thought, language and, especially, for the possibility of ethical knowledge. Some of my work also travels upstream, addressing epistemological questions about the nature of knowledge and justification more generally. And some of it travels downstream, addressing questions in normative and applied ethics, often at the intersection of business ethics and political philosophy. I also have an ongoing collaborative project in the experimental philosophy of moral responsibility.</p>
<br>
<p class=nogap>In addition to my research, I am co-founder of <a class=opt href="http://open-tower.com"><span class=ot>Open Tower</span></a>, which develops open source technologies in ser­vice of a more trans­par­ent, in­clu­sive and empowered academy.</p>
</div>
{% endblock %}
