{% extends "index.html" %}
{% block contents %}
<script>underline(2); $(window).load(function() { footer(1) })</script>

<div id=sheet>

{% if request.MOBILE %}
    <div class=cvdlm><a href="cv.pdf">Download PDF</a></div>
{% endif %}

<div class=cv>
<span class=cvtitle>David Faraci, Curriculum Vitae</span><hr><br>

<p class=scaps>Areas of Specialization</p>
<p class=end>Metaethics, Epistemology, Applied Ethics (esp. Business Ethics), Normative Ethics</p>

<p class=scaps>Areas of Competence</p>
<p class=end>Social and Political Philosophy, Metaphysics, Philosophy of Technology, Logic</p>

<p class=scaps>Academic Positions</p>
<p class=cvlhang>2017-2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visiting Scholar, UNC Chapel Hill</p>
<p class=cvlhang>2017-2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lecturer, McDonough School of Business, Georgetown University</p>
<p class=cvlhang>2015-2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faculty Fellow, Georgetown Institute for the Study of Markets and Ethics</p>
<p class=cvlhang>2014-2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research Assistant Professor, PPE and Parr Center Fellow, UNC Chapel Hill</p>
<p class=cvlhang>2013-2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visiting Lecturer and Parr Center Fellow, UNC Chapel Hill</p>
<p class=cvlhangend>2012-2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visiting Assistant Professor, Virginia Tech</p>

<p class=scaps>Education</p>
<p class=cvhang>2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ph.D., Philosophy, Bowling Green State University</p>
<p class=cvhang>2007&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.A., Philosophy, Bowling Green State University</p>
<p class=cvhangend>2004&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B.A. High Honors, Philosophy, Rutgers College, Rutgers University</p>

<p class=scaps>Publications</p>

<p class=stitle>Articles</p>

<p class=cvhang>&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Moral Perception and the Reliability Challenge,&rdquo; <span class=it>Journal of Moral Philosophy,</span> forthcoming.</p>

<p class=cvhang>&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Good Selves, True Selves: Moral Ignorance, Responsibility, and the Presumption of Goodness,&rdquo; with David Shoemaker, <span class=it>Philosophy and Phenomenological Research,</span> forthcoming.</p>

<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism&rsquo;s Problem with Objectivity,&rdquo; <span class=it>Oxford Studies in Metaethics</span> Vol. 12, 244-264.</p>

<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Ethical Judgment and Motivation,&rdquo; with Tristram McPherson, <span class=it>Routledge Handbook of Metaethics.</span></p>

<p class=cvhang>2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;A Hard Look at Moral Perception,&rdquo; <span class=it>Philosophical Studies</span> 172(8), 2055-2072.</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Huck vs. JoJo: Moral Ignorance and the (A)symmetry of Praise and Blame,&rdquo; with David Shoemaker, <span class=it>Oxford Studies in Experimental Philosophy</span> Vol. 1, 7-27.</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;To Inspect and Make Safe: On the Morally Responsible Liability of Property Owners,&rdquo; with Peter Martin Jaworski, <span class=it>Ethical Theory and Moral Practice</span> 17(4), 697-709.</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Do Property Rights Presuppose Scarcity?&rdquo; <span class=it>Journal of Business Ethics</span> 125(3), 531-537.</p>

<p class=cvhang>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Brown on Mackie: Echoes of the Lottery Paradox,&rdquo; <span class=it>Philosophia</span> 41(3), 751-755.</p>

<p class=cvhang>2010&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;First-Personal Authority and the Normativity of Rationality,&rdquo; with Christian Coons, <span class=it>Philosophia</span> 38(4), 733-740.</p>

<p class=cvhang>2010&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Insanity, Deep Selves, and Moral Responsibility: The Case of JoJo,&rdquo; with David Shoemaker, <span class=it>Review of Philosophy and Psychology</span> 1(3), 319-332.</p>

<p class=cvhangmid>2009&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Heroes and the Ethics of Time Travel: Does the Present Matter?&rdquo; <span class=it>Heroes and Philosophy</span> (Wiley), 140-154.</p>

<p class=stitle>Book Reviews</p>

<p class=cvhang>&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review of <span class=it>Explanation in Ethics and Mathematics: Debunking and Dispensability</span>, <span class=it>Analysis,</span> forthcoming.</p>

<p class=cvhang>2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review of <span class=it>Moral Psychology &amp; Human Agency: Philosophical Essays on the Science of Ethics</span>, <span class=it>Notre Dame Philosophical Reviews.</span></p>

<p class=cvhangend>2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Review of David Enoch&rsquo;s <span class=it>Taking Morality Seriously: A Defense of Robust Realism</span>, <span class=it>The Journal of Value Inquiry</span> 46(2), 259-267.</p>


<p class=scaps>Works in Progress</p>

<p class=stitle>Revise and Resubmit</p>
<p class=mid>&ldquo;Allowing the Wrong, to Bring About the Good,&rdquo; <span class=it>Business Ethics Quarterly</span></p>

<p class=stitle>Under Review</p>
<p class=pad>&ldquo;Hybrid Non-Naturalism Does Not Meet the Supervenience Challenge&rdquo;</p>
<p class=pad>&ldquo;Knowing What’s Necessary: How Modal Conditions Threaten to Trivialize Ethical (and Other) Knowledge&rdquo;</p>
<p class=pad>&ldquo;Non-Naturalism and the &lsquo;Third Factor&rsquo; Gambit&rdquo; (with Aaron Elliott)</p>
<p class=end>&ldquo;We Have No Reason to Think There Are No Reasons for Affective Attitudes&rdquo;</p>


<p class=scaps>Presentations &amp; Commentaries</p>

<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commentary on Derek Shiller&rsquo;s &ldquo;The Unity of Moral Attitudes&rdquo; (with Tristram McPherson), Minds Online, September 18-22</p>

<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commentary on Zo&euml; Johnson King&rsquo;s &ldquo;Accidentally Doing the Right Thing,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 11</p>

<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commentary on Jonathan Simon’s &ldquo;Moral Perception High and Low,&rdquo; Invited Symposium on Moral Perception, APA Pacific Division Meeting, Seattle, WA, April 14</p>

<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Faraci on Metaphysics,&rdquo; Junior Metaphysics Workshop, Blacksburg, VA, April 8</p>

<p class=cvhang>2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Non-Naturalism and the &lsquo;Third-Factor&rsquo; Gambit,&rdquo; with Aaron Elliott, Rocky Mountain Ethics Congress, Boulder, CO, August 14</p>

<p class=cvhang>2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Knowledge, Necessity and Defeat,&rdquo; Moral and Political Philosophy Research Seminar, University of Helsinki, Helsinki, Finland, June 6</p>

<p class=cvhang>2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Allowing the Wrong, to Bring About the Good,&rdquo; Georgetown Institute for the Study of Markets and Ethics Faculty Workshop, Washington, DC, March 18</p>

<p class=cvhang>2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism&rsquo;s Problem with Objectivity,&rdquo; Chapel Hill Metaethics Workshop, Chapel Hill, NC, October 30</p>

<p class=cvhang>2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Knowledge, Necessity and Defeat,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 7</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;True Selves, Good Selves: Attributability and Normative Perspective,&rdquo; with David Shoemaker, Experimental Philosophy of the Self, NYU Center for Bioethics, New York, NY, December 13</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;On the Necessary Existence of God-minus,&rdquo; with Christina Van Dyke, Southern Evangelical Seminary, Matthews, NC, November 17</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Non-Naturalism and the Conceptual Necessity of Supervenience,&rdquo; Virginia Tech Philosophy Department Colloquium Series, Blacksburg, VA, October 17</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;A Hard Look at Moral Perception,&rdquo; PPE Workshop, Chapel Hill, NC, August 30</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commentary on Adam Lerner&rsquo;s &ldquo;Prudence, Perdurance, and the Separateness of Persons,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 9</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism&rsquo;s Problem with Objectivity,&rdquo; Bellingham Summer Philosophy Conference, Bellingham, WA, August 5</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commentary on Derek Baker&rsquo;s &ldquo;Intuitions about Disagreement Do Not Support the Normativity of Meaning,&rdquo; APA Pacific Division Meeting, San Diego, CA, April 19</p>

<p class=cvhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism&rsquo;s Problem with Objectivity,&rdquo; North Carolina Philosophical Society Conference, Chapel Hill, NC, February 22</p>

<p class=cvhang>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;On Leaving Room for Doubt: A (Somewhat) New Semantic Problem for Expressivism,&rdquo; Visiting Professor Workshop, Chapel Hill, NC, August 17</p>

<p class=cvhang>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;A Hard Look at Moral Perception,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 8</p>

<p class=cvhang>2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Do Property Rights Presuppose Scarcity?&rdquo; Humanities and Technology Association Conference, Bowie, MD, October 6</p>

<p class=cvhang>2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Enemy of My Enemy: Nihilism and the Case for Cognitivism,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 9</p>

<p class=cvhang>2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;Huck Finn vs. JoJo: Moral Ignorance and the (A)symmetry of Praise and Blame,&rdquo; Poster Session at the APA Eastern Division Meeting, Washington, DC, December 28</p>

<p class=cvhangend>2010&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commentary on Robyn Gaier&rsquo;s &ldquo;The Second-Personal Perspective: An Other (and yet another) Argument for Externalism,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 14</p>


<p class=scaps>Awards, Fellowships, Grants</p>
<p class=cvlhang>2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finalist, Marc Sanders Prize in Metaethics (for &ldquo;Knowledge, Necessity and Defeat&rdquo;)</p>
<p class=cvlhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finalist, Marc Sanders Prize in Metaethics (for &ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism&rsquo;s Problem with Objectivity&rdquo;)</p>
<p class=cvlhang>2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Doctoral Research Fellow, Nanotechnology and Society Research Group, Northeastern University, NSF Grant No. SES-0609078 (award: $10,000)</p>
<p class=cvlhang>2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experiment Month Participant, Yale University (sponsored by the American Philosophical Association)</p>
<p class=cvlhang>2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;University-Wide Graduate Student Teaching Award Nominee</p>
<p class=cvlhang>2010&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Social Philosophy and Policy Center Graduate Student Scholar</p>
<p class=cvlhang>2006-2008&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduate Fellow, The Earhart Foundation (award: $34,000)</p>
<p class=cvlhangend>2005-2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduate Assistant, Bowling Green State University</p>


<p class=scaps>Professional Service</p>

<p class=stitle>Technology Development</p>
<p class=pad>Founder (with Graham Leach-Krouse): Open Tower (<a href="https://open-tower.com">https://open-tower.com</a>)</p>
<p class=pad>Founder, developer, manager: MARGY (<a href="https://margymail.com">https://margymail.com</a>)</p>
<p class=pad>Founder, developer, manager: Populus (<a href="https://populusjournal.com">https://populusjournal.com</a>)</p>
<p class=mid>Founder, developer, manager: Philosophical Trajectories (<a href="http://personal.bgsu.edu/~faracid/pt">http://personal.bgsu.edu/~faracid/pt</a>)</p>

<p class=stitle>Event Development</p>
<p class=cvhang>2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Co-organizer (with Peter Jaworski): Workshop on Methodology in Applied Ethics, Georgetown Institute for the Study of Markets and Ethics, February 24-26</p>
<p class=cvhangmid>2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coordinator: Freedom, Paternalism and Morality, Bowling Green State University, April 1-2</p>

<p class=stitle>Editorial Work</p>
<p class=cvhang>2014-&nbsp;&nbsp;&nbsp;&nbsp;Consulting Editor, <span class=it>Journal of the American Philosophical Association</span></p>
<p class=cvhang>&nbsp;&nbsp;&ndash;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Co-editor, &ldquo;Ethics and What Is Not Seen,&rdquo; Special Issue of the <span class=it>Georgetown Journal of Law and Public Policy,</span> forthcoming.</p>
<p class=cvhangmid>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editorial Assistant, <span class=it>Paternalism: Theory and Practice</span>, edited by Christian Coons and Michael Weber. Cambridge University Press.</p>

<p class=stitle>Journal Referee</p>
<p class=end>Analytic Philosophy | Australasian Journal of Philosophy | Canadian Journal of Philosophy | Ethics | European Journal of Philosophy | Grazer Philosophische Studien | International Journal of Feminist Approaches to Bioethics | Journal of the American Philosophical Association | Journal of Business Ethics | Journal of Ethics &amp; Social Philosophy | Journal of Moral Philosophy | Mind | Pacific Philosophical Quarterly | Philosophia | Philosophical Psychology | Philosophical Quarterly | Philosophical Studies | Res Philosophica | Review of Philosophy and Psychology | Social Theory and Practice | Southern Journal of Philosophy | Southwest Philosophy Review | Synthese | Theoria | Topoi</p>


<p class=scaps>Department Service</p>

<p class=stitle>UNC Chapel Hill</p>
<p class=cvlhang>2014-2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Judge, National High School Ethics Bowl</p>
<p class=cvlhang>2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Judge, Willie P. Mangum Medal in Oratory</p>
<p class=cvlhang>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Judge, North Carolina High School Ethics Bowl</p>
<p class=cvlhangmid>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Session Leader, Ethics &amp; Leadership Conference, North Carolina School of Science and Mathematics</p>

<p class=stitle>Virginia Tech</p>
<p class=cvlhang>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MA Committee Member, Jessica McCormack, &ldquo;Morality in the Meat Machine: An Examination of Moral Responsibility and Neuroscience in Cases of Early Life Stress,&rdquo;</p>
<p class=cvlhang>2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MA Committee Member, Cory Johnson, &ldquo;Suggestions for Deontic Logicians,&rdquo; 2012</p>
<p class=cvlhangmid>2012-2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Faculty Advisor, Undergraduate Philosophy Club</p>

<p class=stitle>Bowling Green State University</p>
<p class=cvlhang>2008-2011&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduate Chair, Philosophy Colloquium Committee</p>
<p class=cvlhang>2009-2010&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduate Representative to the Philosopy Graduate Committee<br>
<p class=cvlhang>2008-2009&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vice President, Graduate Students for the Interdisciplinary Study of Neural and Cognitive Sciences</p>
<p class=cvlhangend>2007&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Graduate Representative to the Philosophy Department</p>


<p class=scaps>Teaching Experience</p>

{%if request.MOBILE %}
    <p>Metaethics, Graduate (500), Virginia Tech</p>
    <p>Ethical Theory, Advanced (300), Virginia Tech</p>
    <p>Computers and Philosophy, Advanced (300), BGSU</p>
    <p class=indent>as Philosophy of Information Technology, Virginia Tech</p>
    <p>Bioethics, Moderate (200), Chapel Hill</p>
    <p class=indent>as Biomedical Ethics, Virginia Tech</p>
    <p>Business Ethics, Moderate (200), BGSU</p>
    <p class=indent>as Social Responsibilities of Business, Georgetown</p>
    <p>Philosophy of Death and Dying, Moderate (200), BGSU</p>
    <p>Introduction to Ethics, Introductory (100), BGSU</p>
    <p>Introduction to Logic, Introductory (100), BGSU</p>
    <p>Introduction to Philosophy, Introductory (100), BGSU</p>
    <p>Practical Ethics, Introductory (100), Chapel Hill</p>
    <p>Social Ethics and Political Thought, Introductory (100), Chapel Hill</p>
    <p>Introduction to Philosophy, Online, BGSU</p>
    <p>Introduction to Symbolic Logic, Online, Chapel Hill</p>
    <p class=indentend>Philosophy of Death and Dying, Online, BGSU</p>
{% else %}
    <table class="teach">
    <tr><td>Metaethics</td><td>Graduate (500)</td><td>Virginia Tech</td></tr>
    <tr><td>Ethical Theory</td><td>Advanced (300)</td><td>Virginia Tech</td></tr>
    <tr><td>Computers and Philosophy</td><td>Advanced (300)</td><td>BGSU</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;as Philosophy of Information Technology</td><td></td><td>Virginia Tech</td></tr>
    <tr><td>Bioethics</td><td>Moderate (200)</td><td>Chapel Hill</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;as Biomedical Ethics</td><td></td><td>Virginia Tech</td></tr>
    <tr><td>Business Ethics</td><td>Moderate (200)</td><td>BGSU</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;as Social Responsibilities of Business</td><td></td><td>Georgetown</td></tr>
    <tr><td>Philosophy of Death and Dying</td><td>Moderate (200)</td><td>BGSU</td></tr>
    <tr><td>Introduction to Ethics</td><td>Introductory (100)</td><td>BGSU</td></tr>
    <tr><td>Introduction to Logic</td><td>Introductory (100)</td><td>BGSU</td></tr>
    <tr><td>Introduction to Philosophy</td><td>Introductory (100)</td><td>BGSU</td></tr>
    <tr><td>Practical Ethics</td><td>Introductory (100)</td><td>Chapel Hill</td></tr>
    <tr><td>Social Ethics and Political Thought</td><td>Introductory (100)</td><td>Chapel Hill</td></tr>
    <tr><td>Introduction to Philosophy</td><td>Online</td><td>BGSU</td></tr>
    <tr><td>Introduction to Symbolic Logic</td><td>Online</td><td>Chapel Hill</td></tr>
    <tr><td>Philosophy of Death and Dying</td><td>Online</td><td>BGSU</td></tr>
</table>
{% endif %}


<p class=scaps>References</p>

<span class=b><a href="http://www2.phil.cam.ac.uk/~swb24/">Simon Blackburn</a></span><br>
<p class=mid>Trinity College Fellow, Cambridge University; Distinguished Research Professor, UNC Chapel Hill</p>

<span class=b><a href="https://www.bgsu.edu/arts-and-sciences/philosophy/faculty-and-staff/clcoons.html">Christian Coons</a></span><br>
<p class=mid>Associate Professor of Philosophy, Bowling Green State University</p>

<span class=b><a href="http://philosophy.ucdavis.edu/people/dcopp/david-copp-web-page">David Copp</a></span><br>
<p class=mid>Distinguished Professor of Philosophy; Department Chair, UC Davis</p>

<span class=b><a href="http://faculty.msb.edu/hasnasj/GTWebSite/Newindex.html">John Hasnas</a></span><br>
<p class=mid>Professor of Business, Professor of Law, Executive Director of the Georgetown Institute for the Study of Markets and Ethics, Georgetown University</p>

<span class=b><a href="http://philosophy.unc.edu/people/marc-lange/">Marc Lange</a></span><br>
<p class=mid>Theda Perdue Distinguished Professor; Department Chair, UNC Chapel Hill</p>

<span class=b><a href="https://sites.google.com/site/drtristram/">Tristram McPherson</a></span><br>
<p class=mid>Associate Professor of Philosophy, Ohio State University</p>

<span class=b><a href="http://philosophy.unc.edu/people/faculty/geoffrey-sayre-mccord">Geoffrey Sayre-McCord</a></span><br>
<p class=end>Morehead-Cain Alumni Distinguished Professor; Duke-UNC PPE Program Co-Chair, UNC Chapel Hill</p>
</div>
{% endblock %}
