{% extends "index.html" %}
{% block contents %}
<script>underline(2); $(window).load(function() { footer(1) })</script>

<div id=sheet>

{% if request.MOBILE %}
    <div class=cvdlm><a href="cv.pdf">Download PDF</a></div>
{% endif %}

<div class=cv>
<span class=cvtitle>David Faraci, Curriculum Vitae</span><hr><br>

<p class=scaps>Areas of Specialization</p>
<p class=hangend>Metaethics, Epistemology, Applied Ethics (esp. Business Ethics), Normative Ethics</p>

<p class=scaps>Areas of Competence</p>
<p class=hangend>Social and Political Philosophy, Metaphysics, Philosophy of Technology, Philosophy of Language, Logic</p>

<p class=scaps>Employment</p>
<p class=hang>Lecturer, McDonough School of Business, Georgetown University, 2017-</p>
<p class=hang>Faculty Fellow, Georgetown Institute for the Study of Markets and Ethics, 2015-2017</p>
<p class=hang>Research Assistant Professor, PPE and Parr Center Fellow, UNC Chapel Hill, 2014-2015</p>
<p class=hang>Visiting Lecturer and Parr Center Fellow, UNC Chapel Hill, 2013-2014</p>
<p class=hang>Visiting Assistant Professor, Virginia Tech, 2012-2013</p>
<p class=hangend>Adjunct Faculty, Bowling Green State University, 2011-2012</p>

<p class=scaps>Education</p>
<p class=hang>Ph.D., Philosophy, Bowling Green State University, 2012</p>
<p class=hang>M.A., Philosophy, Bowling Green State University, 2007</p>
<p class=hangend>B.A. High Honors, Philosophy, Rutgers College, Rutgers University, 2004</p>

<p class=scaps>Publications</p>

<p class=hang><span class=b><a href="pubs/internalism.pdf">Ethical Judgment and Motivation</a></span>, with Tristram McPherson, forthcoming in <span class=it>Routledge Handbook of Metaethics.</span></p>

<p class=hang><span class=b><a href="pubs/doubt.pdf">On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism's Problem with Objectivity</a></span>, forthcoming in <span class=it>Oxford Studies in Metaethics.</span></p>

<p class=hang><span class=b><a href="pubs/mpsych.pdf">Review</a></span> of Moral Psychology &amp; Human Agency: Philosophical Essays on the Science of Ethics, edited by Justin D'Arms and Daniel Jacobson, <span class=it>Notre Dame Philosophical Reviews,</span> 2015.</p>

<p class=hang><span class=b><a href="pubs/perception.pdf" title="The final publication is available at link.springer.com">A Hard Look at Moral Perception</a></span>, <span class=it>Philosophical Studies</span> 172(8), 2055-2072, 2015.</p>

<p class=hang><span class=b><a href="pubs/HvJ.pdf">Huck vs. JoJo: Moral Ignorance and the (A)symmetry of Praise and Blame</a></span>, with David Shoemaker, in <span class=it>Oxford Studies in Experimental Philosophy,</span> edited by Tania Lombrozo, Joshua Knobe and Shaun Nichols, 7-27, Oxford University Press, 2014.</p>

<p class=hang><span class=b><a href="pubs/liability.pdf" title="The final publication is available at link.springer.com">To Inspect and Make Safe: On the Morally Responsible Liability of Property Owners</a></span>, with Peter Martin Jaworski, <span class=it>Ethical Theory and Moral Practice</span> 17(4), 697-709, 2014.</p>

<p class=hang><span class=b><a href="pubs/scarcity.pdf" title="The final publication is available at link.springer.com">Do Property Rights Presuppose Scarcity?</a></span> <span class=it>Journal of Business Ethics</span> 125(3), 531-537, 2014.</p>

<p class=hang><span class=b><a href="pubs/lottery.pdf" title="The final publication is available at link.springer.com">Brown on Mackie: Echoes of the Lottery Paradox</a></span>, <span class=it>Philosophia</span> 41(3), 751-755, 2013.</p>

<p class=hang><span class=b><a href="pubs/enoch.pdf" title="The final publication is available at link.springer.com">Review</a></span> of David Enoch's <span class=it>Taking Morality Seriously: A Defense of Robust Realism</span>, <span class=it>The Journal of Value Inquiry</span> 46(2), 259-267, 2012.</p>

<p class=hang><span class=b><a href="pubs/rationality.pdf" title="The final publication is available at link.springer.com">First-Personal Authority and the Normativity of Rationality</a></span>, with Christian Coons, <span class=it>Philosophia</span> 38(4), 733-740, 2010.</p>

<p class=hang><span class=b><a href="pubs/jojo1.pdf" title="The final publication is available at link.springer.com">Insanity, Deep Selves, and Moral Responsibility: The Case of JoJo</a></span>, with David Shoemaker, <span class=it>Review of Philosophy and Psychology</span> 1(3), 319-332, 2010.</p>

<p class=hangend><span class=b>Heroes and the Ethics of Time Travel: Does the Present Matter?</span> in <span class=it>Heroes and Philosophy,</span> edited by David Kyle Johson and William Irwin, 140-154, Wiley, 2009.</p>


<p class=scaps>Current Projects</p>

<p class=it>Revise and Resubmit</p>
<p class=indent>&ldquo;<a href="ip/exploitation.pdf">Allowing the Wrong, to Bring About the Good</a>,&rdquo; <span class=it>Business Ethics Quarterly</span></p>
<p class=indentmid>&ldquo;Good Selves, True Selves&rdquo; (with David Shoemaker), <span class=it>Philosophy and Phenomenological Research</span></p>

<p class=it>Under Review</p>
<p class=indentmid>&ldquo;Knowledge, Necessity and Defeat&rdquo;</p>

<p class=it>In Progress</p>
<p class=indent>&ldquo;The Epistemological Impotence of Moral Perception&rdquo;</p>
<p class=indent>&ldquo;Gettier in Action: Comparing Practical and Epistemic Success&rdquo;</p>
<p class=indent>&ldquo;Non-Naturalism and the &lsquo;Third-Factor&rsquo; Gambit&rdquo; (with Aaron Elliott)</p>
<p class=indent>&ldquo;On Withholding as an Epistemic Default&rdquo;</p>
<p class=indentend>&ldquo;Rethinking Ethical Supervenience&rdquo;</p>

<p class=scaps>Presentations &amp; Commentaries</p>

<p class=hang>&nbsp;Commentary on Zoe King's &ldquo;Accidentally Doing the Right Thing,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 2017</p>

<p class=hang>&nbsp;Commentary on Jonathan Simon’s &ldquo;Moral Perception High and Low,&rdquo; Invited Symposium on Moral Perception, APA Pacific Division Meeting, Seattle, WA, April 14, 2017</p>

<p class=hang>&ldquo;Faraci on Metaphysics,&rdquo; Junior Metaphysics Workshop, Blacksburg, VA, April 8, 2017</p>

<p class=hang>&ldquo;Non-Naturalism and the &lsquo;Third-Factor&rsquo; Gambit,&rdquo; with Aaron Elliott, Rocky Mountain Ethics Congress, Boulder, CO, August 14, 2016</p>

<p class=hang>&ldquo;Knowledge, Necessity and Defeat,&rdquo; Moral and Political Philosophy Research Seminar, University of Helsinki, Helsinki, Finland, June 6, 2016</p>

<p class=hang>&ldquo;Allowing the Wrong, to Bring About the Good,&rdquo; Georgetown Institute for the Study of Markets and Ethics Faculty Workshop, Washington, DC, March 18, 2016</p>

<p class=hang>&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism's Problem with Objectivity,&rdquo; Chapel Hill Metaethics Workshop, Chapel Hill, NC, October 30, 2015</p>

<p class=hang>&ldquo;Knowledge, Necessity and Defeat,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 7, 2015</p>

<p class=hang>&ldquo;True Selves, Good Selves: Attributability and Normative Perspective,&rdquo; with David Shoemaker, Experimental Philosophy of the Self, NYU Center for Bioethics, New York, NY, December 13, 2014</p>

<p class=hang>&ldquo;On the Necessary Existence of God-minus,&rdquo; with Christina Van Dyke, Southern Evangelical Seminary, Matthews, NC, November 17, 2014</p>

<p class=hang>&ldquo;Non-Naturalism and the Conceptual Necessity of Supervenience,&rdquo; Virginia Tech Philosophy Department Colloquium Series, Blacksburg, VA, October 17, 2014</p>

<p class=hang>&ldquo;A Hard Look at Moral Perception,&rdquo; PPE Workshop, Chapel Hill, NC, August 30, 2014</p>

<p class=hang>&nbsp;Commentary on Adam Lerner's &ldquo;Prudence, Perdurance, and the Separateness of Persons,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 9, 2014</p>

<p class=hang>&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism's Problem with Objectivity,&rdquo; Bellingham Summer Philosophy Conference, Bellingham, WA, August 5, 2014</p>

<p class=hang>&nbsp;Commentary on Derek Baker's "\&ldquo;Intuitions about Disagreement Do Not Support the Normativity of Meaning,&rdquo; APA Pacific Division Meeting, San Diego, CA, April 19, 2014</p>

<p class=hang>&ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism's Problem with Objectivity,&rdquo; North Carolina Philosophical Society Conference, Chapel Hill, NC, February 22, 2014</p>

<p class=hang>&ldquo;On Leaving Room for Doubt: A (Somewhat) New Semantic Problem for Expressivism,&rdquo; Visiting Professor Workshop, Chapel Hill, NC, August 17, 2013</p>

<p class=hang>&ldquo;A Hard Look at Moral Perception,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 8, 2013</p>

<p class=hang>&ldquo;Do Property Rights Presuppose Scarcity?&rdquo; Humanities and Technology Association Conference, Bowie, MD, October 6, 2012</p>

<p class=hang>&ldquo;Enemy of My Enemy: Nihilism and the Case for Cognitivism,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 9, 2012</p>

<p class=hang>&ldquo;Huck Finn vs. JoJo: Moral Ignorance and the (A)symmetry of Praise and Blame,&rdquo; Poster Session at the APA Eastern Division Meeting, Washington, DC, December 28, 2011</p>

<p class=hangend>&nbsp;Commentary on Robyn Gaier's &ldquo;The Second-Personal Perspective: An Other (and yet another) Argument for Externalism,&rdquo; Rocky Mountain Ethics Congress, Boulder, CO, August 14, 2010</p>


<p class=scaps>Awards, Fellowships, Grants</p>
<p class=indent>Finalist, Marc Sanders Prize in Metaethics (for &ldquo;Knowledge, Necessity and Defeat&rdquo;), 2016</p>
<p class=indent>Finalist, Marc Sanders Prize in Metaethics (for &ldquo;On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism's Problem with Objectivity&rdquo;), 2014</p>
<p class=indent>Doctoral Research Fellow, Nanotechnology and Society Research Group, Northeastern University, NSF Grant No. SES-0609078 (award: $10,000), 2011</p>
<p class=indent>Experiment Month Participant, Yale University (sponsored by the American Philosophical Association), 2011</p>
<p class=indent>University-Wide Graduate Student Teaching Award Nominee, 2011</p>
<p class=indent>Social Philosophy and Policy Center Graduate Student Scholar, 2010</p>
<p class=indent>Graduate Fellow, The Earhart Foundation (award: $34,000), 2006-2008</p>
<p class=indentend>Graduate Assistant, Bowling Green State University, 2005-2011</p>


<p class=scaps>Professional Service</p>

<p class=it>Tech Development</p>
<p class=indent>Co-founder (with Graham Leach-Krouse): Open Tower (<a href="https://open-tower.com">https://open-tower.com</a>)</p>
<p class=dindent>Founder, manager, co-developer: MARGY (<a href="https://margymail.com">https://margymail.com</a>)</p>
<p class=dindent>Founder, manager, co-developer: Populus (<a href="https://populusjournal.com">https://populusjournal.com</a>)</p>
<p class=dindentmid>Founder, manager, developer: Philosophical Trajectories (<a href="http://personal.bgsu.edu/~faracid/pt">http://personal.bgsu.edu/~faracid/pt</a>)</p>

<p class=it>Event Development</p>
<p class=indent>Co-organizer (with Peter Jaworski): <a href="https://davidfaraci.com/workshop">Workshop on Methodology in Applied Ethics</a>, Georgetown Institute for the Study of Markets and Ethics, February 24-26, 2017</p>
<p class=indentmid>Coordinator: Freedom, Paternalism and Morality, Bowling Green State University, April 1-2, 2011</p>

<p class=it>Editorial Work</p>
<p class=indent>Co-editor, &ldquo;Ethics and What Is Not Seen,&rdquo; Special Issue of the Georgetown Journal of Law and Public Policy, forthcoming.</p>
<p class=indent>Consulting Editor, Journal of the American Philosophical Association, 2014-</p>
<p class=indentmid>Editorial Assistant, <span class=it>Paternalism: Theory and Practice</span>, edited by Christian Coons and Michael Weber. Cambridge University Press, 2013.</p>

<p class=it>Journal Referee</p>
<p class=indentend>Analytic Philosophy | Australasian Journal of Philosophy | Canadian Journal of Philosophy | Ethics | European Journal of Philosophy | Grazer Philosophische Studien | The International Journal of Feminist Approaches to Bioethics | Journal of the American Philosophical Association | Journal of Moral Philosophy | Mind | Philosophia | Philosophical Psychology | Philosophical Quarterly | Res Philosophica | Review of Philosophy and Psychology | Philosophical Studies | Social Theory and Practice | Southwest Philosophy Review | Synthese | Theoria | Topoi</p>


<p class=scaps>Department Service</p>

<p class=it>UNC Chapel Hill</p>
<p class=indent>Judge, National High School Ethics Bowl, 2014-2015</p>
<p class=indent>Judge, Willie P. Mangum Medal in Oratory, 2014</p>
<p class=indent>Judge, North Carolina High School Ethics Bowl, 2013</p>
<p class=indentmid>Session Leader, Ethics &amp; Leadership Conference, North Carolina School of Science and Mathematics, 2013</p>

<p class=it>Virginia Tech</p>
<p class=indent>Supervision of MA Theses:</p>
<p class=dindent>Cory Johnson, &ldquo;Suggestions for Deontic Logicians,&rdquo; 2012</p>
<p class=dindent>Jessica McCormack, &ldquo;Morality in the Meat Machine: An Examination of Moral Responsibility and Neuroscience in Cases of Early Life Stress,&rdquo; 2013</p><p class=indentmid>Faculty Advisor, Virginia Tech Philosophy Club, 2012-2013</p>

<p class=it>Bowling Green State University</p>
<p class=hang>Graduate Chair, Philosophy Colloquium Committee, 2008-2011</p>
<p class=hang>Graduate Representative to the Philosopy Graduate Committee, 2009-2010<br>
<p class=hang>Vice President, Graduate Students for the Interdisciplinary Study of Neural and Cognitive Sciences, 2008-2009</p>
<p class=hangend>Graduate Representative to the Philosophy Department, 2007</p>


<p class=scaps>Teaching Experience</p>

{%if request.MOBILE %}
    <p class=indent>Metaethics, Graduate (500), Virginia Tech</p>
    <p class=indent>Ethical Theory, Advanced (300), Virginia Tech</p>
    <p class=indent>Computers and Philosophy, Advanced (300), BGSU</p>
    <p class=dindent>as Philosophy of Information Technology, Virginia Tech</p>
    <p class=indent>Bioethics, Moderate (200), Chapel Hill</p>
    <p class=dindent>as Biomedical Ethics, Virginia Tech</p>
    <p class=indent>Business Ethics, Moderate (200), BGSU</p>
    <p class=dindent>as Social Responsibilities of Business, Georgetown</p>
    <p class=indent>Philosophy of Death and Dying, Moderate (200), BGSU</p>
    <p class=indent>Introduction to Ethics, Introductory (100), BGSU</p>
    <p class=indent>Introduction to Logic, Introductory (100), BGSU</p>
    <p class=indent>Introduction to Philosophy, Introductory (100), BGSU</p>
    <p class=indent>Practical Ethics, Introductory (100), Chapel Hill</p>
    <p class=indent>Social Ethics and Political Thought, Introductory (100), Chapel Hill</p>
    <p class=indent>Introduction to Philosophy, Online, BGSU</p>
    <p class=indent>Introduction to Symbolic Logic, Online, Chapel Hill</p>
    <p class=indentend>Philosophy of Death and Dying, Online, BGSU</p>
{% else %}
    <table class="teach">
    <tr><td>Metaethics</td><td>Graduate (500)</td><td>Virginia Tech</td></tr>
    <tr><td>Ethical Theory</td><td>Advanced (300)</td><td>Virginia Tech</td></tr>
    <tr><td>Computers and Philosophy</td><td>Advanced (300)</td><td>BGSU</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;as Philosophy of Information Technology</td><td></td><td>Virginia Tech</td></tr>
    <tr><td>Bioethics</td><td>Moderate (200)</td><td>Chapel Hill</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;as Biomedical Ethics</td><td></td><td>Virginia Tech</td></tr>
    <tr><td>Business Ethics</td><td>Moderate (200)</td><td>BGSU</td></tr>
    <tr><td>&nbsp;&nbsp;&nbsp;as Social Responsibilities of Business</td><td></td><td>Georgetown</td></tr>
    <tr><td>Philosophy of Death and Dying</td><td>Moderate (200)</td><td>BGSU</td></tr>
    <tr><td>Introduction to Ethics</td><td>Introductory (100)</td><td>BGSU</td></tr>
    <tr><td>Introduction to Logic</td><td>Introductory (100)</td><td>BGSU</td></tr>
    <tr><td>Introduction to Philosophy</td><td>Introductory (100)</td><td>BGSU</td></tr>
    <tr><td>Practical Ethics</td><td>Introductory (100)</td><td>Chapel Hill</td></tr>
    <tr><td>Social Ethics and Political Thought</td><td>Introductory (100)</td><td>Chapel Hill</td></tr>
    <tr><td>Introduction to Philosophy</td><td>Online</td><td>BGSU</td></tr>
    <tr><td>Introduction to Symbolic Logic</td><td>Online</td><td>Chapel Hill</td></tr>
    <tr><td>Philosophy of Death and Dying</td><td>Online</td><td>BGSU</td></tr>
</table>
{% endif %}


<p class=scaps>References</p>

<span class=b><a href="http://www2.phil.cam.ac.uk/~swb24/">Simon Blackburn</a></span><br>
<p class=indentmid>Trinity College Fellow, Cambridge University; Distinguished Research Professor, UNC Chapel Hill</p>

<span class=b><a href="https://www.bgsu.edu/arts-and-sciences/philosophy/faculty-and-staff/clcoons.html">Christian Coons</a></span><br>
<p class=indentmid>Associate Professor of Philosophy, Bowling Green State University</p>

<span class=b><a href="http://philosophy.ucdavis.edu/people/dcopp/david-copp-web-page">David Copp</a></span><br>
<p class=indentmid>Distinguished Professor of Philosophy; Department Chair, UC Davis</p>

<span class=b><a href="http://faculty.msb.edu/hasnasj/GTWebSite/Newindex.html">John Hasnas</a></span><br>
<p class=indentmid>Professor of Business, Professor of Law, Executive Director of the Georgetown Institute for the Study of Markets and Ethics, Georgetown University</p>

<span class=b><a href="http://philosophy.unc.edu/people/marc-lange/">Marc Lange</a></span><br>
<p class=indentmid>Theda Perdue Distinguished Professor; Department Chair, UNC Chapel Hill</p>

<span class=b><a href="https://sites.google.com/site/drtristram/">Tristram McPherson</a></span><br>
<p class=indentmid>Associate Professor of Philosophy, Ohio State University</p>

<span class=b><a href="http://philosophy.unc.edu/people/faculty/geoffrey-sayre-mccord">Geoffrey Sayre-McCord</a></span><br>
<p class=indentmid>Morehead-Cain Alumni Distinguished Professor; Duke-UNC PPE Program Co-Chair, UNC Chapel Hill</p>

<span class=b><a href="http://tulane.edu/liberal-arts/philosophy/shoemaker.cfm">David Shoemaker</a></span><br>
<p class=indentend>Professor of Philosophy; Murphy Institute Faculty Member, Tulane University</p>
</div>
{% endblock %}
