<!DOCTYPE html>
<html lang="en">
<head>
<title>David Faraci</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="canonical" href="https://davidfaraci.com">
<meta property="og:title" content="David Faraci">
<meta property="og:description" content="David Faraci's Website">
<meta property="og:image" content="https://davidfaraci.com/favicon.png">
<meta property="og:url" content="https://davidfaraci.com">
<base target='_blank' />
<link rel="icon" href="favicon.png">

{% if request.MOBILE %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mobilesheet.css') }}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
{% endif %}

<script>
function underline(cid) {
    document.getElementById(cid).style.textDecoration = 'underline';
    if(cid == '2') { $( '#22' ).fadeIn(); }
    if(cid == '3') { $( '#33' ).fadeIn(); }
    if(cid == '4') { $( '#44' ).fadeIn(); }
}
</script>

<script>
function footer(cid) {
    if(cid != '0') {
        $( '#foot' ).show();
    }
}
</script>

<script>
$(function() {
    $( ".hamburger" ).click(function() {
        $( ".menu" ).slideToggle( "fast" );
    });
});
</script>

<script>window.addEventListener("hashchange", function() { scrollBy(0, -150) })</script>

</head>

<body>
{% if request.MOBILE %}
    <header>
    <button class="hamburger">&#9776;</button>
    </header>

    <div class="menu">
    <ul>
    <a id=1 target='_self' href="/about"><li>ABOUT</li></a>
    <a id=2 target='_self' href="/cv"><li>CV</li></a>
    <a id=3 target='_self' href="/research"><li>RESEARCH</li></a>
    <a id=4 target='_self' href="/teaching"><li>TEACHING</li></a>
    <a id=5 target='_self' href="/opentower"><li>OPEN TOWER</li></a>
    <a id=6 target='_self' href="/misc"><li>MISCELLANY</li></a>
    </ul>
    </div>
{% else %}
    <div id=titlebar>
        <p class=df><a class=nobg target='_self' href="/"><span class=sym>&#9596;</span>&nbsp;&nbsp;David Faraci&nbsp;&nbsp;<span class=sym>&#9598;</span></a></p>
        <table class=buttontable>
        <tr>
            <td><p class='unselected'><button id=1 class=menu onclick="window.location='/about';">About</button></p>
                <br>&nbsp;</td>
            <td><p class='unselected'><button id=2 class=menu onclick="window.location='/cv';">CV</button></p>
                <br><span id=22 class=dl>&nbsp;<button class=dlb onclick="window.open('cv.pdf');">Download&nbsp;PDF</button></span><span class=dlsp>&nbsp;</span></td>
            <td><p class='unselected'><button id=3 class=menu onclick="window.location='/research';">Research</button></p>
                <br><span id=33 class=dl>&nbsp;<button class=dlb onclick="window.open('research.pdf');">Research&nbsp;Statement</button></span><span class=dlsp>&nbsp;</span></td>
            <td><p class='unselected'><button id=4 class=menu onclick="window.location='/teaching';">Teaching</button></p>
                <br><span id=44 class=dl>&nbsp;<button class=dlb onclick="window.open('teaching/portfolio.pdf');">Teaching&nbsp;Portfolio</button></span><span class=dlsp>&nbsp;</span></td>
            <td><p class='unselected'><button id=5 class=menu onclick="window.location='/opentower';">Open&nbsp;Tower</button></p>
                <br>&nbsp;</td>
            <td><p class='unselected'><button id=6 class=menu onclick="window.location='/misc';">Miscellany</button></p>
                <br>&nbsp;</td>
        </tr>
        </table>
    </div>
{% endif %}

{% block contents %}
{% endblock %}
<br><br><br>
<div id=foot>
<a class=email href="mailto:david.faraci@georgetown.edu">david.faraci@georgetown.edu</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;October 4, 2017
</div>
</div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11057378;
var sc_invisible=1;
var sc_security="cc896b13";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web statistics"
href="http://statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11057378/0/cc896b13/1/" alt="web
statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>
