{% extends "index.html" %}
{% block contents %}
<script>underline(7);</script>
<div class=misc>
<p class=scaps>Philosophy</p>
<p class=misctitle><a href="dissoverview.pdf">Dissertation Overview</a></p>
<p class=mgap>An overview of my dissertation written with non-philosophers in mind.</p>

<p class=misctitle><a href="http://donationethics.com">Donation Ethics</a></p>
<p class=mgap>The Department of Health and Human Services is <a target='_blank' href="http://www.regulations.gov/document?D=HRSA_FRDOC_0001-0115">considering an amendment</a> to the National Organ Transplant Act that would effectively make it illegal to compensate donors of bone marrow stem cells collected through a process similar to blood donation, just as it is illegal to compensate for such cells collected directly from the bone marrow (through a much more invasive and painful procedure). My friend and colleague, <a href="http://explore.georgetown.edu/people/pj87/">Peter Jaworski</a>, put together an open letter to the HHS arguing against this amendment, which I and several other ethicists signed. I helped edit the letter and put together the website.</p>

<p class=misctitle><a href="flowchart.pdf">Metaethics Flowchart</a></p>
<p class=mgap>A flowchart of metaethical positions. I created it in Fall 2012 for a metaethics graduate seminar I was teaching at Virginia Tech. There is also some useful discussion of it over at <a href="http://www.peasoup.us/2012/08/metaethics-flowchart/">PEA Soup</a>.</p>

<p class=misctitle><a href="https://twitter.com/possibleviews">Possible Views</a></p>
<p class=indentend>A Twitter feed cataloguing (mostly) unlikely and (hopefully) funny philosophical positions, since 2012.</p>


<p class=scaps>Not Philosophy</p>

<p class=misctitle><a href="cryptic">Cryptic Crossword</a></p>
<p class=mgap>A puzzle I co-authored in summer 2002.</p>

<p class=misctitle><a href="MD">Moose and Dude</a></p>
<p class=mgap>A webcomic I wrote in college (and briefly in graduate school).</p>

<p class=misctitle><a href="http://www.bgsu.edu/content/dam/BGSU/college-of-arts-and-sciences/philosophy/documents/Frey/Apr6-3.mp3">Tribute to R. G. Frey</a></p>
<p class=indentend>An audio recording (MP3) of a tribute I offered at R. G. Frey's memorial service in April 2013. Ray was a philosopher at BGSU for 26 years; he passed away in 2012.</p>
</div>
{% endblock %}
