{% extends "index.html" %}
{% block contents %}
<script>underline(6); $(window).load(function() { footer(1) })</script>

<div id=sheet>

<div class=misc>
<p class=misctitle>Philosophy</p>
<p class=title><a class=fix href="dissoverview.pdf">Dissertation Overview</a></p>
<p class=mgap>An overview of my dissertation written with non-philosophers in mind.</p>

<p class=title><a class=fix href="http://donationethics.com">Donation Ethics</a></p>
<p class=mgap>The Department of Health and Human Services is <a target='_blank' href="http://www.regulations.gov/document?D=HRSA_FRDOC_0001-0115">considering an amendment</a> to the National Organ Transplant Act that would effectively make it illegal to compensate donors of bone marrow stem cells collected through a process similar to blood donation, just as it is illegal to compensate for such cells collected directly from the bone marrow (through a much more invasive and painful procedure). <a href="http://explore.georgetown.edu/people/pj87/">Peter Jaworski</a> put together an open letter to the HHS arguing against this amendment, which I and several other ethicists signed. I helped edit the letter and put together the website.</p>

<p class=title><a class=fix href="flowchart.pdf">Metaethics Flowchart</a></p>
<p class=mgap>A flowchart of metaethical positions. I created it in Fall 2012 for a metaethics graduate seminar I was teaching at Virginia Tech. There is also some useful discussion of it over at <a href="http://www.peasoup.us/2012/08/metaethics-flowchart/">PEA Soup</a>.</p>

<p class=title><a class=fix href="/workshop">Methodology in Applied Ethics</a></p>
<p class=mgap>A workshop I co-organized with <a href="http://explore.georgetown.edu/people/pj87/">Peter Jaworski</a> in February 2017. We are working on making it an annual occurence.</p>

<p class=title><a class=fix href="https://twitter.com/possibleviews">Possible Views</a></p>
<p class=indentend>A Twitter feed cataloguing (mostly) unlikely and (hopefully) funny philosophical positions, since 2012.</p>

<p class=misctitle>Not Philosophy</p>

<p class=title><a class=fix href="cryptic">Cryptic Crossword</a></p>
<p class=mgap>A puzzle I co-authored in summer 2002.</p>

<p class=title><a class=fix href="MD">Moose and Dude</a></p>
<p class=mgap>A webcomic I wrote in college (and briefly in graduate school).</p>

<p class=title><a class=fix href="http://www.bgsu.edu/content/dam/BGSU/college-of-arts-and-sciences/philosophy/documents/Frey/Apr6-3.mp3">Tribute to R. G. Frey</a></p>
<p class=indentend>An audio recording (MP3) of a tribute I offered at R. G. Frey&rsquo;s memorial service in April 2013. Ray was a philosopher at BGSU for 26 years; he passed away in 2012.</p>


<p class=misctitle>Site Credits</p>
<p class=smid>Contents and design &copy; 2017 David Faraci</p>

<p>Site powered by <a href="http://flask.pocoo.org/">Flask</a> &copy; 2015 Armin Ronacher and contributors</p>
<p class=smid>Various code snippets from the communities at <a href="https://codepen.io/">CodePen</a> and <a href="http://stackoverflow.com/">Stack Overflow</a></p>

<p>Font <a href="http://www.dafont.com/linux-libertine.font">Linux Libertine Regular</a> by the <a href="http://www.linuxlibertine.org/">Libertine Open Fonts Projekt</a></p>
<p>Open Tower logo adapted from font <span class=portfont><a class=pi href="http://www.dafont.com/portculliard.font">Portculliard Initials</a></span> by <a href="http://moorstation.org/typoasis/designers/lloyd/index.htm">Paul Lloyd</a></p>
<p class=smid>Open Tower font <a href="http://www.dafont.com/streetvertising-public.font"><span class=ot>Streetvertising Public</span></a> by <a href="http://www.cleanvertising.nl/">Cleanvertising</a></p>

<p>Main photo credit: <a href="http://gerardvong.weebly.com/">Gerard Vong</a></p>
<p class=end>Dog credits: Nala &amp; <a href="https://www.facebook.com/GomerHushpuppy/">Gomer Hushpuppy III</a></p>
</div>
{% endblock %}
