{% extends "index.html" %}
{% block contents %}
<script>underline(3); $(window).load(function() { footer(1) })</script>

<div id=sheet>

<p class=title>Ethical Judgment and Motivation</p>
<p class='indent cv'><span class=it>Routledge Handbook in Metaethics</span> forthcoming (with <a href="https://sites.google.com/site/drtristram/">Tristram McPherson</a>)</p>
<p class=indentend><span class=access>access: </span><a href="pubs/internalism.pdf">final draft</a></p>


<p class=title>On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism's Problem with Objectivity</p>
<p class=indent><span class=it>Oxford Studies in Metaethics</span> forthcoming</p>
<p class=indentend><span class=access>access: </span><a href="abs/doubt.pdf">abstract</a> | <a href="pubs/doubt.pdf">draft</a></p>


<p class=title>Review of <span class=it>Moral Psychology and Human Agency: Philosophical Essays on the Science of Ethics</span></p>
<p class=indent><span class=it>Notre Dame Philosophical Reviews</span> 2015</p>
<p class=indentend><span class=access>access: </span><a href="pubs/mpsych.pdf">final draft</a> | <a href="http://ndpr.nd.edu/news/58644-moral-psychology-and-human-agency-philosophical-essays-on-the-science-of-ethics/">ndpr</a></p>


<p class=title>A Hard Look at Moral Perception</p>
<p class=indent><span class=it>Philosophical Studies</span> 2015</p>
<p class=indentend><span class=access>access: </span><a href="abs/perception.pdf">abstract</a> | <a href="pubs/perception.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007/s11098-014-0397-6">springer</a></p>


<p class=title>Huck vs. JoJo: Moral Ignorance and the (A)symmetry of Praise and Blame</p>
<p class='indent cv'><span class=it>Oxford Studies in Experimental Philosophy</span> 2014 (with <a href="http://www2.tulane.edu/liberal-arts/philosophy/shoemaker.cfm">David Shoemaker</a>)</p>
<p class=indentend><span class=access>access: </span><a href="abs/jojo2.pdf">abstract</a> | <a href="pubs/HvJ.pdf">final draft</a> | <a href="http://ukcatalogue.oup.com/product/9780198718772.do">oxford</a> | <a href="http://www.amazon.com/Oxford-Studies-Experimental-Philosophy-1/dp/0198718772/">amazon</a></p>


<p class=title>To Inspect and Make Safe: On the Morally Responsible Liability of Property Owners</p>
<p class='indent cv'><span class=it>Ethical Theory and Moral Practice</span> 2014 (with <a href="http://explore.georgetown.edu/people/pj87/">Peter Martin Jaworski</a>)</p>
<p class=indentend><span class=access>access: </span><a href="abs/liability.pdf">abstract</a> | <a href="pubs/liability.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs10677-013-9473-9">springer</a></p>


<p class=title>Do Property Rights Presuppose Scarcity?</p>
<p class=indent><span class=it>Journal of Business Ethics</span> 2014</p>
<p class=indentend><span class=access>access: </span><a href="abs/scarcity.pdf">abstract</a> | <a href="pubs/scarcity.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs10551-013-1866-0">springer</a></p>


<p class=title>Brown on Mackie: Echoes of the Lottery Paradox</p>
<p class=indent><span class=it>Philosophia</span> 2013<br>
<p class=indentend><span class=access>access: </span><a href="abs/lottery.pdf">abstract</a> | <a href="pubs/lottery.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs11406-012-9397-y">springer</a></p>


<p class=title>Review of David Enoch's <span class=it>Taking Morality Seriously: A Defense of Robust Realism</span></p>
<p class=indent><span class=it>The Journal of Value Inquiry</span> 2012</p>
<p class=indentend><span class=access>access: </span><a href="pubs/enoch.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs10790-012-9329-x">springer</a></p>


<p class=title>First-Personal Authority and the Normativity of Rationality</p>
<p class='indent cv'><span class=it>Philosophia</span> 2010 (with <a href="https://www.bgsu.edu/arts-and-sciences/philosophy/faculty-and-staff/clcoons.html">Christian Coons</a>)</p>
<p class=indentend><span class=access>access: </span><a href="abs/rationality.pdf">abstract</a> | <a href="pubs/rationality.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs11406-010-9250-0">springer</a></p>


<p class=title>Insanity, Deep Selves, and Moral Responsibility: The Case of JoJo</p>
<p class='indent cv'><span class=it>Review of Philosophy and Psychology</span> 2010 (with <a href="http://tulane.edu/liberal-arts/philosophy/shoemaker.cfm">David Shoemaker</a>)</p>
<p class=indentend><span class=access>access: </span><a href="abs/jojo1.pdf">abstract</a> | <a href="pubs/jojo1.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs13164-010-0026-z">springer</a></p>


<p class=title>Heroes and the Ethics of Time Travel: Does the Present Matter?</p>
<p class=indent><span class=it>Heroes and Philosophy</span> 2009</p>
<p class=indent><span class=access>access: </span><a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0470373385.html">wiley</a> | <a href="http://www.amazon.com/Heroes-Philosophy-Book-Save-World/dp/0470373385/ref=sr_1_1?ie=UTF8&qid=1379372122&sr=8-1&keywords=heroes+and+philosophy">amazon</a></p>
{% endblock %}
