{% extends "index.html" %}
{% block contents %}
<script>underline(3); $(window).load(function() { footer(1) })</script>

<div id=sheet>

{% if request.MOBILE %}
    <div class=cvdlm><a href="research.pdf">Research Statement</a></div>
{% endif %}

<p class=rschmenu><a target="_self" href=#pubs>Articles</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_self" href=#reviews>Book Reviews</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a target="_self" href=#wip>Works in Progress</a></p>


<p id=pubs class=misctitle>Articles</p>
<p class=title>Moral Perception and the Reliability Challenge</p>
<p class=indent><span class=it>Journal of Moral Philosophy</span> forthcoming</p>
<p class=indentend><span class=access>access: </span><a href="pubs/perception2.pdf">final draft</a></p>


<p class=title>Good Selves, True Selves: Moral Ignorance, Responsibility, and the Presumption of Goodness</p>
<p class=indent><span class=it>Philosophy and Phenomenological Research</span> forthcoming (with David Shoemaker)</p>
<p class=indentend><span class=access>access: </span><a href="pubs/gsts.pdf">final draft</a></p>


<p class=title>On Leaving Room for Doubt: Using Frege-Geach to Illuminate Expressivism&rsquo;s Problem with Objectivity</p>
<p class=indent><span class=it>Oxford Studies in Metaethics</span> 2017</p>
<p class=indentend><span class=access>access: </span><a href="abs/doubt.pdf">abstract</a> | <a href="pubs/doubt.pdf">final draft</a> | <a href="https://global.oup.com/academic/product/oxford-studies-in-metaethics-12-9780198805083">oxford</a></p>


<p class=title>Ethical Judgment and Motivation</p>
<p class='indent'><span class=it>Routledge Handbook in Metaethics</span> 2017 (with Tristram McPherson)</p>
<p class=indentend><span class=access>access: </span><a href="pubs/internalism.pdf">final draft</a></p>


<p class=title>A Hard Look at Moral Perception</p>
<p class=indent><span class=it>Philosophical Studies</span> 2015</p>
<p class=indentend><span class=access>access: </span><a href="abs/perception.pdf">abstract</a> | <a href="pubs/perception.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007/s11098-014-0397-6">springer</a></p>


<p class=title>Huck vs. JoJo: Moral Ignorance and the (A)symmetry of Praise and Blame</p>
<p class='indent'><span class=it>Oxford Studies in Experimental Philosophy</span> 2014 (with David Shoemaker)</p>
<p class=indentend><span class=access>access: </span><a href="abs/jojo2.pdf">abstract</a> | <a href="pubs/HvJ.pdf">final draft</a> | <a href="http://ukcatalogue.oup.com/product/9780198718772.do">oxford</a></p>


<p class=title>To Inspect and Make Safe: On the Morally Responsible Liability of Property Owners</p>
<p class='indent'><span class=it>Ethical Theory and Moral Practice</span> 2014 (with Peter Martin Jaworski)</p>
<p class=indentend><span class=access>access: </span><a href="abs/liability.pdf">abstract</a> | <a href="pubs/liability.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs10677-013-9473-9">springer</a></p>


<p class=title>Do Property Rights Presuppose Scarcity?</p>
<p class=indent><span class=it>Journal of Business Ethics</span> 2014</p>
<p class=indentend><span class=access>access: </span><a href="abs/scarcity.pdf">abstract</a> | <a href="pubs/scarcity.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs10551-013-1866-0">springer</a></p>


<p class=title>Brown on Mackie: Echoes of the Lottery Paradox</p>
<p class=indent><span class=it>Philosophia</span> 2013<br>
<p class=indentend><span class=access>access: </span><a href="abs/lottery.pdf">abstract</a> | <a href="pubs/lottery.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs11406-012-9397-y">springer</a></p>


<p class=title>First-Personal Authority and the Normativity of Rationality</p>
<p class='indent'><span class=it>Philosophia</span> 2010 (with Christian Coons)</p>
<p class=indentend><span class=access>access: </span><a href="abs/rationality.pdf">abstract</a> | <a href="pubs/rationality.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs11406-010-9250-0">springer</a></p>


<p class=title>Insanity, Deep Selves, and Moral Responsibility: The Case of JoJo</p>
<p class='indent'><span class=it>Review of Philosophy and Psychology</span> 2010 (with David Shoemaker)</p>
<p class=indentend><span class=access>access: </span><a href="abs/jojo1.pdf">abstract</a> | <a href="pubs/jojo1.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs13164-010-0026-z">springer</a></p>


<p class=title>Heroes and the Ethics of Time Travel: Does the Present Matter?</p>
<p class=indent><span class=it>Heroes and Philosophy</span> 2009</p>
<p class=indentsec><span class=access>access: </span><a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0470373385.html">wiley</a></p>


<p id=reviews class=misctitle>Book Reviews</p>

<p class=title>Review of <span class=it>Explanation in Ethics and Mathematics: Debunking and Dispensability</span></p>
<p class=indent><span class=it>Analysis</span> forthcoming</p>
<p class=indentend><span class=access>access: </span><a href="pubs/ethicsmath.pdf">final draft</a></p>


<p class=title>Review of <span class=it>Moral Psychology &amp; Human Agency: Philosophical Essays on the Science of Ethics</span></p>
<p class=indent><span class=it>Notre Dame Philosophical Reviews</span> 2015</p>
<p class=indentend><span class=access>access: </span><a href="pubs/mpsych.pdf">final draft</a> | <a href="http://ndpr.nd.edu/news/58644-moral-psychology-and-human-agency-philosophical-essays-on-the-science-of-ethics/">ndpr</a></p>


<p class=title>Review of David Enoch&rsquo;s <span class=it>Taking Morality Seriously: A Defense of Robust Realism</span></p>
<p class=indent><span class=it>The Journal of Value Inquiry</span> 2012</p>
<p class=indentsec><span class=access>access: </span><a href="pubs/enoch.pdf" title="The final publication is available at link.springer.com">final draft</a> | <a href="http://link.springer.com/article/10.1007%2Fs10790-012-9329-x">springer</a></p>


<p id=wip class=misctitle>Works in Progress</p>

<p class=title>On Accomplishment</p>
<p class=indentend><span class=access>access: </span><a href="ip/accomplishment.pdf">draft</a></p>


<p class=title>Allowing the Wrong, to Bring About the Good</p>
<p class=indentend><span class=access>access: </span><a href="ip/exploitation.pdf">draft</a></p>


<p class=title>Knowing What&rsquo;s Necessary: How Modal Conditions Threaten to Trivialize Ethical (and Other) Knowledge</p>
<p class=indentend><span class=access>access: </span><a href="ip/necessary.pdf">draft</a></p>


<p class=title>Non-Naturalism and the &lsquo;Third-Factor&rsquo; Gambit</p>
<p class='indent cv'>co-author: <a href="https://un-lincoln.academia.edu/AaronElliott">Aaron Elliott</a><br>
<p class=indentend><span class=access>access: </span><a href="ip/gambit.pdf">draft</a></p>

{% endblock %}
