{% extends "index.html" %}
{% block contents %}
<script>underline(6); $(window).load(function() { footer(1) })</script>

<div id=sheet>

<div class=center>
<p class=class>Bioethics</p>
<p class=mat><a href="teaching/biosyl.pdf">syllabus</a> | <a href="teaching/biocal.html">calendar</a></p>

<p class=class>Business Ethics</p>
<p class=mat><a href="teaching/bussyl.pdf">syllabus</a></p>

<p class=class>Computers and Philosophy</p>
<p class=mat><a href="teaching/capsyl.pdf">syllabus</a> | <a href="teaching/capcal.html">calendar</a> | <a href="teaching/cpquiz.pdf">quiz</a></p>

<p class=class>Ethical Theory</p>
<p class=mat><a href="teaching/etsyl.pdf">syllabus</a> | <a href="teaching/etcal.html">calendar</a></p>

<p class=class>Introduction to Logic</p>
<p class=mat><a href="teaching/ilsyl.pdf">syllabus</a> | <a href="teaching/ilcal.html">calendar</a> | <a href="teaching/ilfinal.pdf">final exam</a></p>

<p class=class>Introduction to Philosophy</p>
<p class=mat><a href="teaching/ipsyl.pdf">syllabus</a> | <a href="teaching/ipfinal.pdf">final exam</a></p>

<p class=class>Metaethics (Graduate)</p>
<p class=mat><a href="teaching/metasyl.pdf">syllabus</a> | <a href="flowchart.pdf">flowchart</a></p>

<p class=class>Philosophy of Death and Dying</p>
<p class=mat><a href="teaching/pddsyl.pdf">syllabus</a></p>

<p class=class>Social Ethics &amp; Political Thought [and Science Fiction]</p>
<p class=mat><a href="teaching/septsyl.pdf">syllabus</a></p>
</div>
{% endblock %}
