{% extends "index.html" %}
{% block contents %}
<script>underline(4);</script>

<p class=title>Allowing the Wrong, to Bring About the Good</p>
<p class=indentend><span class=access>access: </span><a href="abs/exploitation.pdf">abstract</a> | <a href="ip/exploitation.pdf">draft</a></p>


<p class=title>Gettier in Action: Comparing Practical and Epistemic Success</p>
<p class=indentend><span class=access>access: </span><a href="ip/gia.pdf">extended abstract</a></p>


<p class=title>Good Selves, True Selves</p>
<p class='indent cv'>co-author: <a href="http://www2.tulane.edu/liberal-arts/philosophy/shoemaker.cfm">David Shoemaker</a><br>
<p class=indentend><span class=access>access: </span><a href="https://docs.google.com/presentation/d/1Brm1whMzAC6G8sevE2m61TADg1jvhnoPiMoPq9O_mIo/pub?start=false&loop=false&delayms=3000">powerpoint</a></p>


<p class=title>Knowledge, Necessity and Defeat</p>
<p class=indentend><span class=access>access: </span><a href="abs/defeat.pdf">abstract</a></span>


<p class=title>Non-Naturalism and the 'Third-Factor' Gambit</p>
<p class='indent cv'>co-author: <a href="https://un-lincoln.academia.edu/AaronElliott">Aaron Elliott</a><br>
<p class=indentend><span class=access>access: </span><a href="abs/gambit.pdf">extended abstract</a></p>
{% endblock %}
